body {
    font-family: arial, serif;
    min-width: 950px;
}

#background_wrapper {
    width: 100%;
    position: absolute;
    overflow: hidden;
    max-height: 5000px;
}
#background {
    width: 100%;
    margin: 0 auto;
}

#background div {
    width: 200px;
    height: 200px;
    display: inline-block;
    float: left;
    opacity: 0;
}
#background div img{
    width: 100%;
}

#background div:hover{
    opacity: 1;
}

#content_wrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    overflow: scroll;
}

#content {
    width: 900px;
    background: #ffffff;
    margin: 150px auto 50px;
    box-shadow:0 0 20px #000000;
}

img#logo {
    width: 730px;
    margin: 55px auto 55px;
}

#links img {
    width: 55px;
    margin: 0;
    padding: 0;
}

#links a {
    text-decoration: none;
}

#footer {
    color: #7c7c7c;
    padding-bottom: 50px;
    font-size: 14.5px;
    padding-top: 5px;
}

#header {
    color: #7c7c7c;
    padding-top: 50px;
    font-size: 43px;
}

a {
    color: #514f4d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


