
#header {
    width: 100%;
    margin: auto;
    font-family: verdana, arial, helvetica, sans-serif;
}

#logo {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 40px;
}

.title {
    background: #000000;
    color: #ffffff;
    padding: 18px 20px;
}

.title a {
    color: white;
}
.title a:hover {
    color: white;
    text-decoration: none;
}

article {
    width: 900px;
    margin: auto;
    font-family: verdana, arial, helvetica, sans-serif;
    margin-bottom: 40px;
    font-size: 15px;
}

article p{
    line-height: 140%;
}

article img {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article br {
    height: 0;
    line-height: 0;
}

article .spoiler_text {
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-left: 1px dashed #514f4d;
    font-size: 90%;
}

article code {
    color: #3a3937;
    font-size: 110%;
}

article a {
    color: #882f00;
}
article a:hover {
    text-decoration: none;
    color: #ff5700;
}

article a.comments{
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    margin: 25px auto;
    text-align: center;
    padding: 18px;
    font-size: 25px;
}

article h1 {
    font-size: 25px;
    color: #151414;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    font-weight: normal;
}

article h2 {
    font-size: 25px;
    color: #000000;
    padding-bottom: 5px;
    border-bottom: 1px solid #c6c6c6;
}

article h3 {
    font-size: 25px;
    font-weight: normal;
    color: #414141;
    margin-bottom: 15px;
}

article h4 {
    margin-bottom: 11px;
}

article ul li{
    margin-top: 5px;
}

.content {
    margin-top: 30px;
    padding-top: 30px;
}